
img {
    max-height: 100%; 
    max-width: 390px;
    
  }

.table {
  max-width: 250%;
color: rgba(0, 0, 0, 0.363);  
font-size: 60px; 
/* flex-flow: row wrap; */
font-weight: 200;
}
.product-title {
    text-align: center; 
    font-size: 20px; 
    background-color: 	#5bc0de91 
}
.totals-item { text-align: center; 
    font-size: 20px; 


}


img { z-index: 10;
    
 
 }
.details {
 color: black; 
    text-align: center; 
     font-size: 40px; 
     background-color: 	#5bc0de91; 
    
 padding: 30%; 
    }
    .quantity {
        color: black; 
    text-align: center; 
     font-size: 40px; 
     background-color: 	#5bc0de91
    }


   .tabletitle
   {
       width: 70px; 
    text-align: center; 
     font-size: 30px; 
     margin: 20px; 
    background-color:rgba(0, 0, 0, 0.315); 
    color: white;  
    }
    .idnumber
    { color: black; 
        text-align: center; 
        font-size: 20px; 
        background-color: 	#5bc0de91;
        }
    
    .product {
        text-align: center; 
        font-size: 20px; 
          background-color: 	#5bc0de91;
          color: black; 
        }

    .price {
        color: black; 
        text-align: center; 
        font-size: 40px; 
          background-color: 	#5bc0de91
    }
    .addtocart {
        color: black; 
        text-align: center; 
        font-size: 20px; 
          background-color: 	#5bc0de91
     
    }
    
    .number {
        color: black; 
        text-align: center; 
        font-size: 20px; 
          background-color: 	#5bc0de91
    }
    .submit {
        color: black; 
    text-align: center; 
     font-size: 20px; 
        background-color: 	#5bc0de91; 

    }
    

#video-background {
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
    opacity: 0.9
  }

.jumbotron {
    text-align: center; 
    color: black; 
 background-color: transparent; 

}
 
.shoppingTrig {
    float: right;
    position: relative;
    bottom: 90px;
    margin-right: 20px;    
    position: relative;
    color: black; 
   
}

/* Jumbotron
// -------------------------------------------------- */


.jumbotron {
  color: black; 
  background-color: rgba(0, 0, 0, 0.26); 
}